<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<title>Git Serve</title>
	</head>
	<body>
	
	<div id="repo-info">
		<div id="name">
			<p>{{ name }}</p>
		</div>	
	
		<div id="files">
			<ul>
			{% for commit in commits %}
				<li>{{ commit.message }} -- {{ commit.author }} -- {{ commit.date }}</li>
				<li>{{ commit.id }} 
				<ul>
				{% for file, changes in commit.changes.items() %}
					<li> {{ file }} -- {{ changes }} </li>
				{% endfor %}
				</ul>
			{% endfor %}
			<ul> 
		</div>
	
	
	</div>
	
	
	</body>
</html>